@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(239, 239, 239);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(0, 0, 0);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Satoshi, sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
}

@keyframes slideInFromLeft {
    0% {
      transform: translatey(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
  }

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}
@keyframes slideInFromLeft {
    0% {
      transform: translatey(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
  }

.topbar{
    height: 70px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.808) 0%, rgba(0, 0, 0, 0) 100%);
}
.topbar .logo{
    height: 50px;
    padding: 5px;
    margin-left: 60px;
    margin-top: 10px;
}
.bannerplayer{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 50%;
    object-fit: cover;
}
.topbanner .overlaytext{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    position: absolute;
    z-index: 1;
    margin-left: 70px;
    margin-top: 160px;
    width: 650px;
}
.topbanner .overlaytext h1{
    color: #fff;
    font-size: 65px;
    line-height: 1;
    font-weight: 500;
}
.bannerbtns{
    display: flex;
    margin-top: 50px;
}
.bannerbtns .bannerbutton{
    border: none;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    font-size: 20px;
    margin-right: 10px;
    transition: ease 0.3s;
}
.bannerbtns .bannerbutton2{
    border: 2px solid #fff;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    background-color: transparent;
    transition: ease 0.3s;
}
.bannerbtns .bannerbutton:hover{
    background-color: #ffffffcf;
    cursor: pointer;
}
.bannerbtns .bannerbutton2:hover{
    background-color: #ffffff;
    color: #000;
    cursor: pointer;
}
.bannerbtns i{
    font-size: 20px;
    transform: translateY(3px);
}
.websites{
    padding-top: 90px;
}
.websites hr{
    margin-top: 40px;
    margin-bottom: 40px;
}
.websites h1{
    color: #fff;
    margin-left: 67px;
    font-size: 50px;
    font-weight: 500;
}
.websitebox{
    width: calc(100% - 120px);
    height: 100px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 40px;
    margin-top: 15px;
    background-color: #1c1c1c;
}
.websitebox .weblogo{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.websitebox .webvisitbutton{
    float: right;
    margin-top: 27px;
    border: none;
    border-radius: 15px;
    height: 45px;
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    position: relative;
    transition: ease 0.3s;
}
.websitebox .webvisitbutton:hover{
    background-color: #fff;
    color: #000;
}